* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(img/R.jfif);
    background-size: cover;
    background-position: center;
    padding: 0 11.2% ;
    position: relative;
    background-repeat: no-repeat;

}
nav {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 0;
}

.sign {
    width: 30px;
    cursor: pointer;
    padding-bottom: 55%;
    
}
.link {
    width: 30px;
    cursor: pointer;
    padding-bottom: 54%;
    
 
}
.p1 {
    padding-bottom: 55%;
  
    color: black;
    text-decoration: solid;
    position: relative;

}

 nav ul {
     flex: 1;
     text-align: right;
     padding-right: 30px;
     padding-bottom: 55%;
 }

 nav ul li {
     display: inline-block;
     list-style: none;
     margin: 10px 30px;
     
 }

 nav ul li a{
     color: black;
     text-decoration:solid;
     position: relative;
 }

 nav ul li a::after{
     content: '';
     width: 0;
     height: 3px;
     position:absolute;
     bottom: -5px;
     left: 50%;
     transform: translatex(-50%);
     background:black;
     transition: width 0.3s;

 }
 nav ul li a:hover::after{
     width: 50%;
 }
 .logo {
     max-width: 100%;
     height: auto;
     color: black;
     position: absolute;
     cursor: pointer;
     top: 2%;
     left: 3%;
 }

 .logo p{
     font-size: 35px;
     font-weight: 100;
     margin-left: 1%;
 }

 .logo h1{
     font-size: 110px;
     line-height: 1;
     color: transparent;
     -webkit-text-stroke: 1.5px black; 
 }

 .logo h3{
     font-size: 21px;
     font-weight: 200;
     font-style: italic;
     margin-left: 1%;
 }

 .explore {
     font-size: 25px;
     position:absolute;
     left: 3%;
     top: 30%;
     text-decoration: none;
     border: 3.5px solid ;
     padding: 10px 10px;   
    border-collapse: collapse;
    border-radius: 21px;
    background: black;
    transition: color 1.6s;
    }
.explore:hover{
    color:white;
}
    .explore a{
        text-decoration: none;
        text-align: center;
        color: white;
    }
.sidebar{
    width: 30px;
    height: 100vh;
    background: color #c0c0c0;;
    position: absolute;
    right: 0;
    top: 0;
    transition: 1s;
}
.sidebar:hover{
    width:70px;
}
.ins{
    width: 25px;
    position: absolute;
    bottom: 19%;
    left: 15;
}
.fb{
    width: 25px;
    position: absolute;
    bottom: 13%;
    left: 15;
}
.tw{
    width: 25px;
    position: absolute;
    bottom: 7%;
    left: 15;
}

